.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.about-container{

  border:0px solid red;
  display:flex;
  padding:100px;
  margin:auto;
}
.about-left{
border:0px solid black;
  width:45%;
 display:inline-block;
  

}
.about-right{
display:inline-block;

}
.about-right img{
  display:inline-block;
  border:0px solid green;
  margin-left:40%;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
}

li a {
  font-size: 17.5px;
  font-weight: 500;
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#ff6347;
}

.logo {
  float: left;
}

@media screen and (max-width: 800px) {

  .about-container{

    border:0px solid red;
    display:flex;
  flex-direction:column;
    margin:auto;
    padding:10px;
  }
  .about-left{
    border:0px solid black;
      width:100%;
     display:block;
     
       
    
    }
.about-left h1{
  text-align:center;
}
    .about-right img{
      display:block;
      border:0px solid green;
       margin:0;
       width:100%;
    }
    .about-right{
      width:100%;
      display:block;
    }
}